body {
    background-color: #e2cfc1;
    font-family: 'Raleway', sans-serif;
  }


nav {
    width: 1200px;
    height: auto;
    background-color: #f5f5f5;
    text-decoration: none;
}

aside {
    background-color: #f5f5f5;
    align-items: center;
    float: left;
    width: 350px;
    padding-top: 0px;
    margin-top: 0px;
    margin-left: 150px;
	text-align: center;
  }

  .aside-text {
    margin-left: 500px;
    margin-right: 350px;
    text-align: center;
}

.round {
    margin-left: 25%;
    width: 170px;
    height: 195px;
    border-radius: 100px;
  }

  .mini-pic {
    width: 18px;
    height: 18px;
  }

  .footer-cv {
    width: 1200;
    font-size: small;
    text-align: center;
    background-color: #f5f5f5;
    margin-left: 150px;
    margin-right: 150px;
  }

  .footer-pic-github {
    padding-left: 150px;
  }

  .footer-text {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    margin: auto;

  }

  .footer-pic-rs {
    padding-right: 150px;
  }